
<img class="wave" src="./assets/wave.png" alt="bg">
<div class="container">
    <div class="img">
        <img src="./assets/bg.png" alt="background">
    </div>
    <div class="login-content">
        <form (ngSubmit)="loginSubmit()">
            <img src="./assets/avtar.png" alt="logo">
            <h2 class="title">Admin Login</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5 data-error="wrong" data-success="right" for="defaultForm-email">Username</h5>
                    <input [(ngModel)]="loginData.username" name="username" id="defaultForm-username"
                     type="text" class="input validate">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 data-error="wrong" data-success="right" for="defaultForm-pass">Password</h5>
                    <input [(ngModel)]="loginData.password" name="password" id="defaultForm-pass" 
                    type="password" class="input validate">
                </div>
            </div>
            <input type="submit" class="btn" id="submit" value="Login">
        </form>
    </div>
</div>