<nav class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header-logo">
                    <a routerLink="/home">
                        <img src="./assets/logo.png" width="160" height="36" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="main-navigation">
                    <button class="menu-toggle"><span></span><span></span></button>
                    <nav class="header-menu">
                        <ul class="menu food-nav-menu">
                            <!-- <li><a routerLink="/home">Home</a></li> -->
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="/manageCustomer">Manage Users</a></li>
                            <li><a routerLink="/managePurchase">Manage Purchase</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><button class="btn btn-secondory" (click)="adminLogout()">Logout</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <hr>
</nav>